<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Duplicate Check</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="./images/filler.js"></script>

</head>
<body class="bg-light bg-gradient" onload="fill()">
    
    <nav class="navbar navbar-light bg-secondary">
        <a class="navbar-brand" href="#">
          <img src="./images/exeter_logo.png" width="100" height="40" class="m-2 d-inline-block align-top" alt="">
          
        </a>
    </nav>
    <form  method="post" action="/submit" enctype="multipart/form-data">
       <!-- <div class="container"> -->
         <!-- <div class=" m-5  d-inline-block">
            <span class="input-group-text" id="inputGroup">Customer Name &nbsp;&nbsp;
            <select name="customer" id="customer"class="form-select" aria-label="select" >
                
            </select>
        
        </span>
    </div> -->
    
    <div class=" m-5  d-inline-block">
    <span class="input-group-text" id="inputGroup">Month &nbsp;&nbsp;
    <input type="month" name="InvoicedMonth" class="form-control" required>
    </span> 
    </div> 

    <div class="m-5 d-inline-block">
        <span class="input-group-text" id="inputGroup">File Upload&nbsp;&nbsp;
        <input type="file" name="file" class="form-control" accept=".zip" required>
        </span> 
        </div> 
        
        
        <button type="submit" class="m-5 btn btn-outline-secondary">Submit</button>
        <div class="m-5">
        <!-- <span class="input-group-text" id="inputGroup"> -->
        <div class="accordion accordion-flush form-control " id="duplicates">
            <div class="accordion-item">
                <h2 class="accordion-header " id="headingOne">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseOne" aria-expanded="false" aria-controls="accordionCollapseOne">
                    See Duplicates
                    </button>
                </h2>
                <div id="accordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body"><table class="table table-sm-responsive">
                        
                        <th>Customer</th>
                        <th>ManuscriptId</th>
                        <th>invoicedMonth</th>
                        <% duplicates.forEach((duplicate)=> { %>
                            
                            <tr>
                                
                                <td>
                                    <%= duplicate.Customer %>
                                </td>
                                <td>
                                    <%= duplicate.ManuscriptId %>
                                </td>
                                <td>
                                    <%= duplicate.invoicedMonth %>
                                </td>
                            </tr>
                            
                        <% }) %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- </span> -->
</div>

</form>
</body>
</html>